build/
eclipse/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
forge-1.7.2-10.12.0.1029-changelog.txt
.gradle/
.nb-gradle/
forge_new.iml
forge_new.ipr
forge_new.iws
.nb-gradle-properties
.settings/
.classpath
.project
gradle.properties
